<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white sticky-top border-bottom border-grey">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fa-regular fa-compass"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/new">Create New Listing</a>
                    <form class="d-flex" role="search" style="margin-left: 2rem;" method="POST" action="/listings/search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 20rem;" name="query">
                        <button class="btn btn-outline-danger" type="submit">Search</button>
                    </form>
                </div>
                <div>
                    
                </div>
                <div class="navbar-nav ms-auto">
                    <% if (!currUser) { %>
                        <a class="nav-link" href="/signup">Sign up</a>
                        <a class="nav-link" href="/login">Login</a>
                    <% } else { %>
                        <a class="nav-link" href="/logout">Log out</a>
                    <% } %>
                </div>                
            </div>
        </div>
    </nav>    
</body>
</html>
