<% layout('boilerplate') -%>
  <body>
    <div class="container" style="max-width: 60%;">
      <h3>Create a New Listing</h3>
      <form method="POST" action="/" novalidate class="needs-validation" enctype="multipart/form-data">
        <div>
          <label for="title" class="form-label">Title</label>
          <input name="listing[title]" placeholder="enter title" type="text" class="form-control" required/>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please enter title
          </div>
        </div>
        <br />
        <div>
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
          <div class="invalid-feedback">
            Please enter short description
          </div>
        </div>
        <br>
        <div>
          <label for="pet-select" class="form-label">Select category</label>
          <select name="listing[category]" id="pet-select" class="form-control" required>
            <option value="">--Please choose an option--</option>
            <option value="Cities">Cities</option>
            <option value="Tropical">Tropical</option>
            <option value="Farm">Farm</option>
            <option value="Camping">Camping</option>
            <option value="Historical">Historical</option>
            <option value="Artic">Artic</option>
            <option value="Lake">Lakefront</option>
          </select>
        </div>
        <br /> 
        <div>
          <label for="image" class="form-label">Upload Listing Image</label>
          <input name="listing[image]"  type="file" class="form-control"/>
        </div>        
        <br />
        <div class="row">
          <div class="col-md-5">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" placeholder="enter price"  class="form-control" required/>
            <div class="invalid-feedback">
              Please enter valid price
            </div>
          </div>
          <div class="col-md-7">
            <label for="country" class="form-label">Country</label>
            <input name="listing[country]" placeholder="enter country" type="text" class="form-control" required/>
            <div class="invalid-feedback">
              Please provide a valid country.
            </div>
          </div>
        </div>
        <br />
        <div>
          <label for="location" class="form-label">Location</label>
          <input name="listing[location]" placeholder="enter location" type="text" class="form-control" required/>
          <div class="invalid-feedback">
            Please provide a valid location.
          </div>
        </div>
        <br />
        <button class="btn btn-dark">Add</button>
      </form>
      <br />
    </div>
  </body>
